.Panel-root {
  background-color: white;
  border-radius: 8px;
  padding-top: 16px;
  border: 1px solid #d5d5d5;
  width: 400px;
  height: 520px;
}

.Panel-player {
  margin: 0px 15px;
  border-radius: 30px;
}

.Panel-placeholder {
  padding: 15px 20px;
  height: 54px;
}

.Panel-player-ld {
  margin-top: 26px;
}
